@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    size: 400px 300px;
    background-color: white;
}

button {
    height: 5rem;
    width: 5rem;
    font-size: 30px;
    background-color: lightgrey;
    border: 1px solid gray;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

.operacional {
    background-color: #f6932e;
    color: white;
    font-size: 35px;
}

.operacional:hover {
    background-color: #d26900;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(5, 5rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.pantalla {
    grid-area: 1 / 1 / 2 / 5;
    height: 5rem;
    width: 20rem;
}

input {
    height: 5rem;
    width: 298px;
    font-size: 50px;
    background-color: #4c4c4c;
    color: white;
    border: 1px solid gray;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    text-align: end;
    outline: none;
    padding-right: 20px;
}